/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(251, 245, 245);
    max-width: 100%;
}

p{
    font-size: 13pt;
    background-color: rgb(251, 245, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    text-align: center;
}
h2{
    color: red;
}
h3{
    color: red;
}
  
header{
    background-color: rgb(251, 245, 245);
}
footer{
    background-color: rgb(207, 50, 92);
    text-align: center;
    padding: 20px;
}

button{
color: darkred;
padding: 15px 32px;
font-size: 16px;
border: none;
background-color: rgb(150, 28, 77);
}

/*this is the navigation section*/

.navigation {
    display: flex;
    list-style-type: none;
    gap: 300px;
    background-color: rgb(254, 251, 251);
}
.navigation a{
    background-color: rgb(254, 251, 251);
    text-decoration: none;
    display: block;
    padding: 10px;
}
.navigation :hover{
    background-color: rgb(252, 114, 114);
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;

    /*container for webpage layout*/

}
/* container for webpage layout*/
.container{
    background-color: rgb(251, 173, 179);
    display: flex;
    grid-template-columns: auto auto auto;
    padding: 20px;
    max-width: 100%;
    align-items: center;
}  
.container div{
    background-color: rgb(251, 173, 179);
   text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

  /*this is the media quiry*/

@media screen and (min-width:330px) and (max-width:768px) {
    body{
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(251, 245, 245);
    max-width: 100%;
}
 p{
    font-size: 10pt;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

header{
    background-color: floralwhite;
}
footer{
    background-color: rgb(207, 50, 92);
    text-align: center;
    padding: 20px;
}

.navigation {
    display: block;
    list-style-type: none;
    gap: 300px;
    background-color: rgb(251, 245, 245);
}
.navigation a{
    background-color: rgb(254, 251, 251);
    display: block;
    padding: 10px;
}
.navigation :hover{
    background-color: rgb(252, 114, 114);
}

h1{
    font-size: 14px;
}
p{
    font-size: 8pt;
}


.container{
    background-color: rgb(251, 173, 179);
    display: block;
    grid-template-columns: auto auto auto;
    padding: 20px;
}  